{% extends "layout.j2" %}
{% block content %}
<div class="calendar-body full-height">
    <div class="row">
        <h1>Bonjour {{ first_name }}, ouvre une case du calendrier!</h1>
    </div>
    {% for day in days %}
    {% if loop.index0 % 6 == 0 %}
    <div class="row">
    {% endif %}
        <div class="col-6 col-sm-4 col-md-2">
            <a href="{{ url_for('day', day=day) }}">
                {% if day in open_gifts %} 
                <img src="{{ url_for('static', filename='images/gifts/open/cadeau_open'+(day)|string+'.png') }}" class="gift" name="case1" data-popup="images/question.jpg" data-open="images/cadeau_open1.png" alt="Cadeau1">
                {% else %}
                <img src="{{ url_for('static', filename='images/gifts/closed/cadeau_close'+(day)|string+'.png') }}" class="gift" name="case1" data-popup="images/question.jpg" data-open="images/cadeau_open1.png" alt="Cadeau1">
                {% endif %}
            </a>
        </div>
    {% if loop.index0 % 6 == 5 %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}