{% extends "layout.j2" %}
{% block content %}
<div class="calendar-body full-height">
    <div class="row">
        <h1 class="text-center mb-5">Bonjour {{ first_name }}, découvre la case du jour {{ today.day }} !</h1>
    </div>
    <p>Ton score est de : {{ score }} </p>
    {% for day in days %}
    {% if loop.index0 % 6 == 0 %}
    <div class="row">
    {% endif %}
        <div class="col-6 col-sm-4 col-md-2">
    <a href="{{ url_for('day', day=day) }}">
        {% if day in open_gifts %}
            {% if day == today.day %}
                <img src="{{ url_for('static', filename='images/gifts/wait/cadeau_wait_' + day|string + '.png') }}" 
                     class="gift" 
                     name="case1" 
                     alt="Cadeau en attente">
            {% else %}
                <img src="{{ url_for('static', filename='images/gifts/open/cadeau_open' + day|string + '.png') }}" 
                     class="gift" 
                     name="case1"  
                     alt="Cadeau ouvert">
            {% endif %}
        {% else %}
            <img src="{{ url_for('static', filename='images/gifts/closed/cadeau_close' + day|string + '.png') }}" 
                 class="gift" 
                 name="case1" 
                 alt="Cadeau fermé">
        {% endif %}
    </a>
</div>

    {% if loop.index0 % 6 == 5 %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}