<body style="background-color: #f4e9db;">
{% extends "layout.j2" %}
{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-5"> Les scores 🏆</h1>
  <div class="row justify-content-center mb-4">
    <div class="row justify-content-center mb-4">
    <div class="card p-4 shadow-sm text-center" style="max-width: 400px; border: 1px solid #ebcd6d; background-color: #fff;">
      <h3 style="color: #708b7e;">Ton score: {{ current_user.score }}</h3>
      <h5 class="mt-3" style="color: #d35137;">Ta position : {{ users.index(current_user) + 1 }}ème place</h5>
    </div>
  </div>
  </div>

  <h1 class="text-center mb-4" style="color: #ebcd6d;">Classement Général</h1>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead style="background-color: #82c7f9; color: #f4e9db;">
        <tr>
          <th>Position</th>
          <th>Utilisateur</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% if users|length >= 1 %}
        <tr style="background-color: #d35137; color: #f4e9db;">
          <td>🥇 1ère place</td>
          <td>{{ users[0].username }}</td>
          <td>{{ users[0].score }} points</td>
        </tr>
        {% endif %}
        {% if users|length >= 2 %}
        <tr style="background-color: #82c7f9; color: #f4e9db;">
          <td>🥈 2ème place</td>
          <td>{{ users[1].username }}</td>
          <td>{{ users[1].score }} points</td>
        </tr>
        {% endif %}
        {% if users|length >= 3 %}
        <tr style="background-color: #708b7e; color: #f4e9db;">
          <td>🥉 3ème place</td>
          <td>{{ users[2].username }}</td>
          <td>{{ users[2].score }} points</td>
        </tr>
        {% endif %}

        {% for user in users[3:10] %}
        <tr>
          <td>{{ loop.index + 3 }}ème place</td>
          <td>{{ user.username }}</td>
          <td>{{ user.score }} points</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
</body>
