{% extends "layout.j2" %}
{% block content %}
<div class="container mt-5 brown-background">
    <div class="row justify-content-center align-items-center">
        <h1 class="text-center mb-5"> Jour {{ day }} 🎁</h1>
        <div class="col-12 col-md-6 col-lg-4 mb-5 text-center">
            <img src="{{ challenge }}" class="img-fluid rounded shadow" alt="Challenge Image" />
        </div>
        
        <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="form-group mb-4">
            {{ form.answer_character.label(class="form-control-label text-secondary") }}
            {% if form.answer_character.errors %}
                {{ form.answer_character(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_character.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            <div class="input-group">
                <select class="form-control form-control-lg border-primary w-100" name="{{ form.answer_character.name }}">
                    <option value="" {% if not form.answer_character.data %}selected{% endif %} disabled selected>Sélectionne un prénom</option>
                    {% for value, label in form.answer_character.choices %}
                        <option value="{{ value }}" {% if form.answer_character.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>

        
        <div class="form-group mb-4">
            {{ form.answer_time.label(class="form-control-label text-secondary") }}
            {% if form.answer_time.errors %}
                {{ form.answer_time(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_time.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.answer_time(class="form-control form-control-lg border-primary w-100") }}
            {% endif %}
        </div>

        <div class="form-group mb-4">
            {{ form.answer_place.label(class="form-control-label text-secondary") }}
            {% if form.answer_place.errors %}
                {{ form.answer_place(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_place.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.answer_place(class="form-control form-control-lg border-primary w-100") }}
            {% endif %}
        </div>

        <div class="form-group mb-4">
            {{ form.answer_sound.label(class="form-control-label text-secondary") }}
            {% if form.answer_sound.errors %}
                {{ form.answer_sound(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_sound.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.answer_sound(class="form-control form-control-lg border-primary w-100") }}
            {% endif %}
        </div>


        <div class="form-group mb-4">
            {{ form.answer_object.label(class="form-control-label text-secondary") }}
            {% if form.answer_object.errors %}
                {{ form.answer_object(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_object.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.answer_object(class="form-control form-control-lg border-primary w-100") }}
            {% endif %}
        </div>

        
        

        <div class="form-group mb-4">
            {{ form.answer_color.label(class="form-control-label text-secondary") }}
            {% if form.answer_color.errors %}
                {{ form.answer_color(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.answer_color.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.answer_color(class="form-control form-control-lg border-primary w-100") }}
            {% endif %}
        </div>
    {{ form.submit(class="btn btn-primary btn-lg px-5", onclick="return confirm('Tu es sur le point de valider. Aucune modification ne sera possible ensuite.')") }}
    </div>


    </form>

    </div>
</div>

{% endblock content %}