{% extends "layout.j2" %}
{% block content %}
<div class="container content-section d-flex align-items-center justify-content-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom de famille</th>
      <th scope="col">Mdp chiffré </th>
      <th scope="col">Administateur</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <th scope="row">{{user.id}}</th>
        <td><a href="{{url_for('users.check_answers', user_id=user.id)}}">{{user.username}}</a></th>
        <td>{{user.first_name}}</th>
        <td>{{user.last_name}}</th>
        <td>{{user.password}}</th>
        <td>{{user.is_admin}}</th>
      </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

{% endblock content %}